:root{
    --titleSize: 40px;
    --contentSize: 20px;

    --paddingMain: 5%;
    --paddingList: 5% 5% 5% 0%;
    --paddingTask: 30px;
    --paddingtext: 10px;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D3D7DF;
    height: 100vh;
    width: 100vw;
}

main{
    width: 60%;
    height: auto;
    min-height: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: var(--paddingMain);
}

h1{
    font-size: var(--titleSize)
}

nav{
    right: 30px;
    position: absolute;
}

#remove, #add{
    transform: scale(1.1);
    cursor: pointer;
    height: 45px;
    width: 45px;
    transition: .4s;
}

#remove:hover, #add:hover{
    transform: scale(1.2);
}

#list {
    display: flex;
    flex-direction: column;
    padding: var(--paddingList);
    gap: 10px;
}

input {
    width: 90%;
    height: 30px;
    margin-left: var(--paddingTask);
    padding-left: 40px;
    border: none;
    border-bottom: 1.5px solid #0000003d;
    font-size: var(--contentSize);
}

input:focus { outline: none; }

#list li{
    padding-left: var(--paddingTask);
    display: flex;
    align-items: center;
}

#list li span{
    font-size: var(--ntentSize);
    padding-left: var(--paddingtext);
    
}

svg{
    height: 30px;
    width: 30px;
}

.check, .delete{
    height: 30px;
    width: 30px;
}

.delete{
    display: none;
}
