@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

:root{
    --widthPattern: 80%;
    --heigthPattern: 70%;
    --boxShadow:0px 0px 10px 3px #0cbb351f;

    --grayLigth: #EDEDED;
    --blue: #2B56FF;
    --gray: #555656;
    --white: #FFFFFF;
    --blackGray: #1D212A;

    --fontTitle: 'Archivo Black', sans-serif;
    --fontGlobal: 'Roboto Condensed', sans-serif;
    --fontSizeButton: 20px;
    --fontSizeTitle: 40px;
    --fontSizeInput: 20px;
}

/* Global */
*{
    color: white;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: var(--fontGlobal);
}

body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--grayLigth);
    height: 100vh;
    width: 100vw;
}

/* Main */
main{
    height: var(--heigthPattern);
    width: 80vw;
    display: flex;
    box-shadow: var(--boxShadow);
    border-radius: 100px !important;
    position: relative;
}

/* sections */
h1{
    font-family: var(--fontTitle);
    color: var(--blue);
    font-size: var(--fontSizeTitle);
    text-align: center;
    text-transform: none;
}

p{
    color: var(--blackGray);
    font-size: var(--fontSizeInput);
    letter-spacing: .2px;
}

input{
    font-size: var(--fontSizeInput);
    text-transform: none;
    width: var(--widthPattern);
    height: 50px;
    background-color: white;
    border: none;
    padding: 10px 10px 10px 15px;
    color: var(--blackGray);
    background-color: var(--grayLigth);
    outline: none;
    border-radius: 5px;
    color: var(--blackGray);
}

input::placeholder{
    font-size: var(--fontSizeInput);
    color: var(--blackGray);

}

.registerArea{
    font-size: var(--fontSizeInput);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}



span{
    color: var(--blackGray);
    text-decoration: underline;
}



.registerArea h3, .signInArea h3{
    text-align: center;
    font-size: var(--fontSizeInput);
    width: 80%;
    color: var(--blackGray);
}

.registerArea p, .signInArea p{
    width: var(--widthPattern);
    text-align: center;

}

.blockArea h3{
    font-size: 30px;
}

.registerArea, .signInArea, .blockArea{
    background-color: var(--white);
    color: var(--blackGray);
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.password{
    width: var(--widthPattern);
    position: relative;
    display: flex;
    align-items: center;
}

.password input{
    width: 100%;
}

.eye{
    height: 25px;
    width: 25px;
    right: 10px;
    display: flex;
    position: absolute;
    color: var(--blackGray);
    cursor: pointer;
}

/* Buttons */
.buttons{
    display: flex;
    width: var(--widthPattern);
    justify-content: space-around;
}

button{
    height: 50px;
    padding: 10px 5px;
    width: 40%;
    border-radius: 10px;
    border: 2px solid var(--white);
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    transition: .5s;
    font-size: var(--fontSizeButton);
    text-align: center;
    transition: .8s;
}

button:hover{
    transform: scale(1.04);
    cursor:pointer;
}

.loginIcons{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.Buttongoogle{
    border-radius: 50%;
    padding: 6px;
    height: 30px;
    width: 30px;
    background-color: var(--blue);
    color: var(--white);
}

.Buttongoogle:hover{
    cursor: pointer;
}

.blockArea{
    background-color: var(--blue);
    position: absolute;
}

.blockArea img {
    width: 100%;
    height: auto;
}

/* Animatins */

.toRight{
    animation-name: moveToRigth;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

.toLeft{
    animation-name: moveToLeft;
    animation-duration: .2s;
    animation-fill-mode: forwards
}

@keyframes moveToRigth{
    0%{
        right: 50%;
    }
    10%{
        right: 45%
    }
    20%{
        right: 40%
    }
    30%{
        right: 35%
    }
    40%{
        right: 30%
    }
    50%{
        right: 25%
    }
    60%{
        right: 20%
    }
    70%{
        right: 15%
    }
    80%{
        right: 10%
    }
    90%{
        right: 5%
    }
    100%{
        right: 0%
    }
}

@keyframes moveToLeft{
    0%{
        left: 50%;
    }
    10%{
        left: 45%
    }
    20%{
        left: 40%
    }
    30%{
        left: 35%
    }
    40%{
        left: 30%
    }
    50%{
        left: 25%
    }
    60%{
        left: 20%
    }
    70%{
        left: 15%
    }
    80%{
        left: 10%
    }
    90%{
        left: 5%
    }
    100%{
        left: 0%
    }
}
