@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

:root{
    --titleSize: 40px;
    --contentSize: 20px;
    --paddingMain: 5%;
    --paddingTask: 30px;
    --paddingtext: 10px;

    --widthPattern: 80%;
    --heigthPattern: 70%;
    --boxShadow:0px 0px 10px 3px #0cbb351f;

    --grayLigth: #EDEDED;
    --blue: #2B56FF;
    --gray: #555656;
    --white: #FFFFFF;
    --blackGray: #1D212A;

    --fontTitle: 'Archivo Black', sans-serif;
    --fontGlobal: 'Roboto Condensed', sans-serif;
    --fontSizeGlobal: 20px;
    --fontSizeTitle: 60px;
    --fontSizeInput: 20px;
}

/* Global */
*{
    font-family: var(--fontGlobal);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: var(--fontGlobal);
}

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--grayLigth);
    height: 100vh;
    width: 100vw;
}

 /*Main */
main{
    width: 60%;
    height: auto;
    min-height: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    padding: var(--paddingMain);
    align-items: center;
    overflow: hidden;
}

h1{
    color: var(--blue);
    font-size: var(--titleSize);
    font-family: var(--titleSize);
    font-size: var(--fontSizeTitle);
    text-align: center;
    animation-fill-mode: forwards;
    animation: emerge;
    animation-duration: .5s;
}

/* Navigation */

nav{
    bottom: 30px;
    position: absolute;
    display: flex;
    gap: 10px;
}

#removeTasks, #addInput, .ButtonlogOut{
    transform: scale(1.1);
    cursor: pointer;
    height: 30px !important;
    width: 30px !important;
    transition: .4s;
    background-color: var(--blue);
    padding: 10px;
    color: var(--white);
    border-radius: 50%;
    animation-fill-mode: forwards;
    animation: appear;
    animation-duration: .5s;
}

#removeTasks:hover, #addInput:hover, .ButtonlogOut:hover{
    transform: scale(1.2);
}

/* Tasks List */

#list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 70px;
    width: 100%;
    justify-content: left;
}

#list li{
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
    font-size: var(--fontSizeGlobal);
    color: var(--blackGray);
    animation-fill-mode: forwards;
    animation: appear;
    animation-duration: .5s;
}

#list li span{
    font-size: var(--ntentSize);
    padding-left: var(--paddingtext);
    
}

input {
    width: 100%;
    height: 50px;
    padding-left: 40px;
    border: none;
    font-size: var(--contentSize);
    background-color: none;
    background: transparent;
    color: var(--blackGray);
    border: 2px solid var(--blue);
    border-radius: 0 30px 30px 0;
}

input:focus { outline: none; }

svg{
    height: 30px;
    width: 30px;
}

.check, .delete{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.delete{
    display: none;
}

/* Animations */
@keyframes emerge{
    from{ transform: translateX(200%) }
    to{ transform: translateX(0%) }
}

@keyframes appear{
    from{ opacity: 0; }
    to{ opacity: 100%; }
}
