@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;1,600&display=swap');

:root{
    --widthPattern: 80%;
    --heigthPattern: 70%;
    --boxShadow:0px 0px 10px 3px #0cbb351f;
    --lightColor: #2C3137;
    --blackColor: #1D212A;
    --grayLigthColor: #EEEDEF;
    --grayColor: #a0a0a0;
    --fontSizeButton: 18px;
    --fontSizeTitle: 35px;
    --fontSizeInput: 18px;
    --greenColor: #0CBB34;
}

/* Global */
*{
    color: white;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/waves.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}



main{
    height: var(--heigthPattern);
    width: var(--widthPattern);
    display: flex;
    box-shadow: var(--boxShadow);
    border-radius: 100px !important;
    position: relative;
}

h1{
    font-size: var(--fontSizeTitle);
    text-align: center;
}

input{
    text-transform: none;
    width: var(--widthPattern);
    background-color: white;
    border: none;
    padding: 10px 10px 10px 15px;
    color: black;
    outline: none;
    border-radius: 5px;
}


.registerArea{
    width: 50%;
    background-color: var(--blackColor);
    font-size: var(--fontSizeInput);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.registerArea h3{
    text-align: center;
    font-size: var(--fontSizeInput);
    width: 80%;
}

.registerArea, .singInArea, .blockregister, .blockArea{
    background-color: var(--lightColor);
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.password{
    width: var(--widthPattern);
    position: relative;
    display: flex;
    align-items: center;
}

.password input{
    width: 100%;
}

.eye{
    height: 20px;
    width: 20px;
    right: 10px;
    display: flex;
    position: absolute;
    color: black;
    cursor: pointer;

}

.buttons{
    display: flex;
    width: var(--widthPattern);
    justify-content: space-around;
}

button{
    height: 40px;
    padding: 10px 5px;
    width: 40%;
    border-radius: 10px;
    border: none;
    box-shadow: var(--boxShadow);
    background-color: var(--greenColor);
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    transition: .5s;
    font-size: var(--fontSizeButton);
    text-align: center;
}

p{
    font-size: var(--fontSizeInput);
}
.loginIcons{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.Buttongoogle{
    background-color: var(--greenColor);
    border-radius: 50%;
    padding: 5%;
    height: 30px;
    width: 30px;
    transition: .5s;
}

button:hover{
    transform: scale(1.05);
    cursor:pointer;
}

.Buttongoogle:hover{
    cursor: pointer;
}

.blockregister{
    position: absolute;
    display: none;
}

.blockArea{
    position: absolute;
}

.toRight{
    animation-name: moveToRigth;
    animation-duration: .2s;
    animation-fill-mode: forwards
}

.toLeft{
    animation-name: moveToLeft;
    animation-duration: .2s;
    animation-fill-mode: forwards
}

.blockArea img {
    width: 100%;
    height: auto;
}



@keyframes moveToRigth{
    0%{
        right: 50%;
    }
    10%{
        right: 45%
    }
    20%{
        right: 40%
    }
    30%{
        right: 35%
    }
    40%{
        right: 30%
    }
    50%{
        right: 25%
    }
    60%{
        right: 20%
    }
    70%{
        right: 15%
    }
    80%{
        right: 10%
    }
    90%{
        right: 5%
    }
    100%{
        right: 0%
    }
}

@keyframes moveToLeft{
    0%{
        left: 50%;
    }
    10%{
        left: 45%
    }
    20%{
        left: 40%
    }
    30%{
        left: 35%
    }
    40%{
        left: 30%
    }
    50%{
        left: 25%
    }
    60%{
        left: 20%
    }
    70%{
        left: 15%
    }
    80%{
        left: 10%
    }
    90%{
        left: 5%
    }
    100%{
        left: 0%
    }
}